<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <form>
        <input type="text" name="" id="" placeholder="Location">
        <button>Search</button>
    </form>
    <p id="massage-1"></p>
    <p id="massage-2"></p>
    {{>footer}}
    <script src="/js/app.js"></script>


</body>

</html>
